# Node modules
node_modules/

# Environment variable files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS artifacts
.DS_Store
Thumbs.db

# Production builds (optional, kalau ada)
# dist/
# build/

# Docker artifacts (optional)
# *.pid

# VSCode settings (optional)
.vscode/
